nav, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #aab7b8 ;
}

li {
    float: left;
    vertical-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    width: 49px;
}

li a:hover {
    background-color:   #1700fe;
}

p{
    color: var(--heading-color);
    box-shadow: 3px 3px 40px var(--shadow-color);
}
.vid {
    display: left;
    align-items: left;
}

.mui--appbar-height img {
    border: 1px solid white;
    border-radius: 10%;
    vertical-align: middle;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
   }
   
   /* Clear floats after image containers */
   .row::after {
    content: "";
    clear: both;
    display: table;
   }