nav, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #aab7b8 ;
}

li {
    float: left;
    vertical-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
}

li a:hover {
    background-color:   #1400ec;
}

p{
    color: var(--heading-color);
    box-shadow: 3px 3px 40px var(--shadow-color);
}

.mui--appbar-height img {

    border: 1px solid white;
    border-radius: 10%;
    vertical-align: middle;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    column-gap: 10px;
   }
   
   /* Clear floats after image containers */
   .row::after {
    float:right;
    clear: both;
    display: table;
    column-gap: 10px;
}